.search {
  background-color: #2b3566;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search p {
  color: #9da5d1;
}

.search_container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.search_container input,
.search_container button {
  padding: 0.6rem;
  border-radius: 3px;
  border: none;
  color: #2b3566;
}

.search_container input {
  width: 210px;
  padding-right: 30px;
}

.search_container button {
  background-color: #0e1129;
  cursor: pointer;
}

.input_container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input_container button {
  position: absolute;
  right: 0px;
  background: transparent;
  height: 90%;
  min-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_container button svg {
  fill: transparent;
  cursor: pointer;
}

.input_container:hover button svg {
  fill: #2b3566;
}

.input_container:hover button {
  background-color: #fff;
}
